<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어드민 페이지</title>
    <!-- 부트스트랩 CSS 파일 -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"/>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
</head>
<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
     data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <th:block th:replace="side-bar :: sidebar"></th:block>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <th:block th:replace="header :: header"></th:block>
        <div class="container-fluid">
            <div>
                <h1>센서관리 페이지</h1>
                <br/>
            </div>
            <!--  Header End -->
            <table>
                <tr>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/place'">
                            장소 관리
                        </button>
                    </td>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/sensor/modbus'">
                            MODBUS 센서 관리
                        </button>
                    </td>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/sensor/mqtt'">
                            MQTT 센서 관리
                        </button>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-12 mb-4"> <!-- 멤버 리스트 -->
                    <div class="rounded-lg border bg-white text-dark shadow-sm">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">MODBUS 센서 관리</h2>
                            </div>
                            <div class="card-body">
                                <table id="table" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <!--                                        <th>센서명</th>-->
                                        <!--                                        <th>센서 모델</th>-->
                                        <!--                                        <th>IP</th>-->
                                        <!--                                        <th>PORT</th>-->
                                        <!--                                        <th>채널 수</th>-->
                                        <!--                                        <th>상태</th>-->
                                        <!--                                        <th>동작</th>-->
                                        <!--                                        <th>센서 상세</th>-->
                                        <th>NO</th>
                                        <th>장소</th>
                                        <th>채널 이름</th>
                                        <th>채널 이름 수정</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="channel, iterStat : ${modbusChannelInfo}">
                                        <td th:text="${iterStat.count}"></td>
                                        <td th:text="${channel.place.placeName}"></td>
                                        <td th:text="${channel.channelName}"></td>
                                        <td>
                                            <form th:action="@{/sensor/modbus/{channelId}(channelId=${channel.id})}"
                                                  th:method="GET">
                                                <button type="submit" class="btn btn-primary">채널 이름 수정</button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let table = new DataTable('#table', {
        responsive: true
    });
</script>
</body>
</html>
