<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <!-- 부트스트랩 CSS 파일 -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
     data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <th:block th:replace="side-bar :: sidebar"></th:block>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <th:block th:replace="header :: header"></th:block>
        <div class="container-fluid">
            <div>
                <h1>어드민 관리 페이지</h1>
                <br/>
            </div>
            <!--  Header End -->
            <div class="row mb-3">
                <div class="col-md-4 px-0">
                    <button class="btn btn-primary mx-1"
                            style="font-size: 14px; padding: 10px 20px;"
                            onclick="location.href='/admin/roleup'">
                        게스트 유저 관리
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary"
                            style="font-size: 14px; padding: 10px 20px;"
                            onclick="location.href='/admin/users'">
                        유저 관리
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary"
                            style="font-size: 14px; padding: 10px 20px;"
                            onclick="changePassword()">
                        사용 기기 관리
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-4"> <!-- 멤버 리스트 -->
                    <div class="rounded-lg border bg-white text-dark shadow-sm"
                         th:if="${userInfo.role.name() == 'ADMIN'}">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">게스트 유저 관리</h2>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Role</th>
                                        <th>권한 관리</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.role}"></td>
                                        <td><a href="/admin/roleup">권한 올리기</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function changePassword() {
        alert("비밀번호 변경 기능은 아직 구현되지 않았습니다.");
    }

    function showMemberDetail(memberId) {
        // 멤버의 상세 정보를 가져오는 비동기 요청을 보낸다고 가정
        // 이 예시에서는 memberId를 콘솔에 출력
        alert("회원 수정 기능은 아직 구현되지 않았습니다.");
        console.log("멤버 ID:", memberId);
    }
</script>
</body>
</html>
