<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어드민 페이지</title>
    <!-- 부트스트랩 CSS 파일 -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
     data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <th:block th:replace="side-bar :: sidebar"></th:block>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <th:block th:replace="header :: header"></th:block>
        <div class="container-fluid">
            <div>
                <h1>관리자 페이지</h1>
                <br/>
            </div>
            <!--  Header End -->
            <table>
                <tr>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/admin/roleup'">
                            게스트 유저 관리
                        </button>
                    </td>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/admin/users'">
                            유저 관리
                        </button>
                    </td>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/admin/budget'">
                            요금 설정
                        </button>
                    </td>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/admin/budgethistory'">
                            요금 변경 내역
                        </button>
                    </td>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/admin/organization'">
                            조직 정보 관리
                        </button>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-8 mb-4">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">현재 설정 요금</h5>
                                    <h4 class="fw-semibold mb-3" th:text="'₩ '+${#numbers.formatInteger(budget.electricityBudget, 0, 'COMMA')}">현재요금</h4>
                                </div>
                            </div>
                            <p>
                                <br>
                            <form action="/admin/budget" th:method="PUT" id="resetTargetAmountForm" onsubmit="return validateForm()">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <div class="mb-3">
                                    <h4 class="fw-semibold mb-3">목표 요금 재설정</h4>
                                    <div class="input-group" style="width: 100%;">
                                        <input type="number" class="form-control" id="budget" name="budget"
                                               aria-describedby="amountAddon">
                                        <span class="input-group-text" id="amountAddon">원</span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" form="resetTargetAmountForm"
                                        style="float: right">저장
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var budgetInput = document.getElementById('budget').value;
        if (budgetInput === '') {
            alert('목표 요금을 입력해주세요.');
            return false;
        }
        return true;
    }
</script>

</body>
</html>
