<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어드민 페이지</title>
    <!-- 부트스트랩 CSS 파일 -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.7/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/datatables.min.css"
          rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.7/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/datatables.min.js"></script>
</head>
<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
     data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <th:block th:replace="side-bar :: sidebar"></th:block>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <th:block th:replace="header :: header"></th:block>
        <div class="container-fluid">
            <div>
                <h1>관리자 페이지</h1>
                <br/>
            </div>
            <!--  Header End -->
            <table>
                <tr>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/admin/roleup'">
                            게스트 유저 관리
                        </button>
                    </td>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/admin/users'">
                            유저 관리
                        </button>
                    </td>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/admin/budget'">
                            요금 설정
                        </button>
                    </td>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/admin/budgethistory'">
                            요금 변경 내역
                        </button>
                    </td>
                    <td class="mb-4" style="padding: 10px;">
                        <button class="btn btn-primary"
                                style="font-size: 14px; padding: 10px 20px;"
                                onclick="location.href='/admin/organization'">
                            조직 정보 관리
                        </button>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-12 mb-4"> <!-- 멤버 리스트 -->
                    <div class="rounded-lg border bg-white text-dark shadow-sm">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">유저 관리</h2>
                            </div>
                            <div class="card-body">
                                <table id="table" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Created At</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.createdAt}"></td>
                                        <td th:text="${user.role}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let table = new DataTable('#table', {
        responsive: true,
        layout: {
            topStart: {
                buttons: ['pageLength']
            }
        }
    });
</script>
</body>
</html>
