<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>서버에 문제가 발생했습니다.</title>
    <style>
        body {
            text-align: center;
            padding: 50px;
            font-family: "Arial", sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .message {
            font-size: 24px;
        }
    </style>
    <link rel="stylesheet" href="/css/styles.min.css"/>
</head>
<body>
<img class="position-relative" src="/images/error/404.png" alt="404 이미지"/>
<p class="message">서버에 문제가 발생했습니다.</p>

<form action="/" method="get">
    <button type="submit" class="btn btn-info">홈으로 돌아가기</button>
</form>

</body>
</html>