<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>서버가 요청을 처리할 수 있는 상태가 아닙니다.</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<img id="errorImage" src="" class="mx-auto d-block" alt="403 이미지"/>
<p class="text-center message">서버가 요청을 처리할 수 있는 상태가 아닙니다.</p>
<form action="/" method="get">
    <button type="submit" class="btn btn-info mx-auto d-block">홈으로 돌아가기</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 사용 가능한 이미지 파일 경로 배열
        var images = [
            "/images/error/kejang/500.png",
            "/images/error/cat/500.jpg"
        ];

        // 랜덤 인덱스 생성
        var randomIndex = Math.floor(Math.random() * images.length);

        // 이미지 태그 찾기
        var imgElement = document.getElementById('errorImage');

        // 랜덤 이미지로 설정
        imgElement.src = images[randomIndex];
    });
</script>
</body>
</html>

