<!doctype html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>아이오티타임</title>
        <script src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
                crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"/>
        <script src="https://fastly.jsdelivr.net/npm/apexcharts"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
             data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
            <th:block th:replace="side-bar :: sidebar"></th:block>
            <div class="body-wrapper">
                <th:block th:replace="header :: header"></th:block>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="ps-0" th:text="${userInfo.name}+'님의 전력량'"></h2>
                        </div>
                    </div>

                    <div class="row mb-9" style="padding-left: 12px">
                        <select id="placeId" class="form-select fw-semibold w-auto">
                            <option value="" disabled selected>메인 위치를 선택해 주세요</option>
                        </select>
                        <select id="sensorId" class="form-select fw-semibold w-auto">
                            <option value="" disabled selected>세부 위치를 선택해 주세요</option>
                        </select>
                        <script th:inline="javascript">
                            // placeId select box 초기화 및 옵션 추가
                            const places = [[${places}]];
                            const placeSelect = document.getElementById('placeId');

                            places.forEach(place => {
                                const option = document.createElement('option');
                                option.value = place.id;
                                option.textContent = place.place_name;
                                placeSelect.appendChild(option);
                            });

                            // sensorId select box 동적 업데이트
                            const placeMap = [[${placeMap}]];
                            document.getElementById('placeId').addEventListener('change', function () {
                                const selectedPlaceId = this.value;
                                const channels = placeMap[selectedPlaceId];
                                const sensorSelect = document.getElementById('sensorId');
                                sensorSelect.innerHTML = '<option value="" disabled selected>세부 위치를 선택해 주세요</option>'; // 이 부분을 추가

                                channels.forEach(channel => {
                                    const option = document.createElement('option');
                                    option.value = channel.channel_id;
                                    option.textContent = channel.channel_name;
                                    sensorSelect.appendChild(option);
                                });
                            });
                        </script>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5>종 합</h5>
                                    <h1 id="electricitySlogan">반갑습니다 🌱 </h1>
                                    <p id="electricityChange" class="mb-0">전력량 조회할 센서를 선택해 주세요.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-9">
                            <div class="card">
                                <div class="card-body pb-2">
                                    <h4 id="month-graph-title" class="card-title fw-semibold">최근 24시간 전력량</h4>
                                    <div id="chart1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="text-end">설정 요금</h6>
                                    <h3 class="mb-0 text-end" th:text="${budget}+'원'"></h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="text-end">사용 요금</h6>
                                    <h3 class="mb-0 text-end">원</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="text-end">남은 요금</h6>
                                    <h3 class="mb-0 text-primary text-end">원</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <div class="card">
                                <div class="card-body pb-2">
                                    <h4 class="card-title fw-semibold">최근 7일 전기 사용 내역</h4>
                                    <div id="chart2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="text-end">설정 전력량</h6>
                                    <h3 class="mb-0 text-end">5,200 kWh</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="text-end">사용 전력량</h6>
                                    <h3 class="mb-0 text-end">200 kWh</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="text-end">남은 전력량</h6>
                                    <h3 class="mb-0 text-primary text-end">5,000 kWh</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">전력 사용 내역</h4>
                            <div class="table-responsive">
                                <div id="zero_config_wrapper" class="dataTables_wrapper">
                                    <table id="zero_config"
                                           class="table table-striped table-bordered text-nowrap align-middle dataTable"
                                           aria-describedby="zero_config_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting sorting_asc col-1" tabindex="0"
                                                    aria-controls="zero_config" rowspan="1" colspan="1"
                                                    aria-sort="ascending">
                                                    날 짜
                                                </th>
                                                <th class="sorting col-1" tabindex="0"
                                                    aria-controls="zero_config"
                                                    rowspan="1" colspan="1">
                                                    요 금
                                                </th>
                                                <th class="sorting col-1" tabindex="0"
                                                    aria-controls="zero_config"
                                                    rowspan="1" colspan="1">
                                                    kWh
                                                </th>
                                                <th class="sorting col-1" tabindex="0"
                                                    aria-controls="zero_config"
                                                    rowspan="1" colspan="1">
                                                    변 화
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            var options = {
                chart: {
                    type: 'line',
                    height: '320'
                },
                series: [{
                    name: 'sales',
                    data: []
                }],
                xaxis: {
                    categories: []
                }
            }
            var chart1 = new ApexCharts(document.getElementById("chart1"), options);
            var chart2 = new ApexCharts(document.getElementById("chart2"), options);

            chart1.render();
            chart2.render();

            const dailyElectricityPerHour = [[${recent24HoursElectricites}]];
            const kwhData = dailyElectricityPerHour.map(dto => dto.kwh);
            const dates = dailyElectricityPerHour.map(dto => dto.time);

            chart1.updateOptions({
                series: [{
                    name: 'KWh',
                    data: kwhData
                }],
                xaxis: {
                    categories: dates
                }
            });
            const recent7daysElectricities = [[${recent7DaysElectricities}]]
            const kwhData2 = recent7daysElectricities.map(dto => dto.kwh);
            const dates2 = recent7daysElectricities.map(dto => dto.time);
            chart2.updateOptions({
                series: [{
                    name: 'KWh',
                    data: kwhData2
                }],
                xaxis: {
                    categories: dates2
                }
            });

            let table = new DataTable('#zero_config', {
                responsive: true
            });

            updateDataTable(dailyElectricityPerHour)

            document.getElementById('sensorId').addEventListener('change', function () {
                const now = new Date();
                const isoString = now.toISOString(); // "YYYY-MM-DDTHH:mm:ss.sssZ"
                const isoStringWithoutMilliseconds = isoString.slice(0, -5);
                console.log(isoStringWithoutMilliseconds);
                const channelId = this.value;
                fetch(`/daily-report/${channelId}`)
                    .then(response => response.json())
                    .then(data => {
                        updateChartData1(data.hourlyElectricityDtos);
                        updateChartData2(data.dailyElectricityDtos);
                        updateDataTable(data.hourlyElectricityDtos);
                    })
            });

            function updateChartData1(dailyData) {
                console.log(dailyData)
                const kwhData = dailyData.map(dto => dto.kwh);
                const dates = dailyData.map(dto => dto.time);

                chart1.updateOptions({
                    series: [{
                        name: 'KWh',
                        data: kwhData
                    }],
                    xaxis: {
                        categories: dates
                    }
                });
            }

            function updateChartData2(dailyData) {
                const kwhData = dailyData.map(dto => dto.kwh);
                const dates = dailyData.map(dto => dto.time);

                chart2.updateOptions({
                    series: [{
                        name: 'KWh',
                        data: kwhData
                    }],
                    xaxis: {
                        categories: dates
                    }
                });
            }

            function updateDataTable(dailyData) {
                table.clear();
                dailyData.forEach(dto => {
                    table.row.add([
                        dto.time,
                        `${dto.kwh} 원`,
                        `${dto.kwh} Wh`,
                        `+${Math.random().toFixed(2)}%`
                    ]).draw(false); // 변경 사항을 테이블에 즉시 반영하지 않음
                });
                table.draw(); // 모든 데이터가 추가된 후 테이블을 다시 그림
            }
        </script>

    </body>
</html>
